.Game * {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.Game {
  display: block;
  width: 800px;
  height: 568px;
  margin: 0;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3.5rem 0 0 0;
}
.Game .Div--ios {
  padding: 0;
}
.Game h4 {
  margin: 0 0 0.25rem 0;
}
.Game h5 {
  margin: 0 0 0.25rem 0;
}
.Game p {
  margin: 0 0 0.25rem 0;
  font-size: 0.875rem;
}

.game-block {
  margin: 0;
  padding: 0;
  position: relative;
  width: 28.8px;
  height: 28.8px;
  border: 1px solid #ddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.piece-i {
  background-color: #e3cdaa;
}
.piece-j {
  background-color: #e3cdaa;
}
.piece-l {
  background-color: #e3cdaa;
}
.piece-o {
  background-color: #e3cdaa;
}
.piece-s {
  background-color: #e3cdaa;
}
.piece-t {
  background-color: #e3cdaa;
}
.piece-z {
  background-color: #e3cdaa;
}

table.game-board {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.game-block.type-1 {
  background-image: url(../img/sausages/1.png);
}
.game-block.type-2 {
  background-image: url(../img/sausages/2.png);
}
.game-block.type-3 {
  background-image: url(../img/sausages/3.png);
}
.game-block.type-4 {
  background-image: url(../img/sausages/4.png);
}
.game-block.type-5 {
  background-image: url(../img/sausages/5.png);
}
.game-block.type-6 {
  background-image: url(../img/sausages/6.png);
}
.game-block.type-7 {
  background-image: url(../img/sausages/7.png);
}
.game-block.type-8 {
  background-image: url(../img/sausages/8.png);
}
.game-block.type-9 {
  background-image: url(../img/sausages/9.png);
}
.game-block.type-10 {
  background-image: url(../img/sausages/10.png);
}
.game-block.type-11 {
  background-image: url(../img/sausages/11.png);
}
.game-block.type-12 {
  background-image: url(../img/sausages/12.png);
}
.game-block.type-13 {
  background-image: url(../img/sausages/13.png);
}
.game-block.type-14 {
  background-image: url(../img/sausages/14.png);
}
.game-block.type-15 {
  background-image: url(../img/sausages/15.png);
}
.game-block.type-16 {
  background-image: url(../img/sausages/16.png);
}
.game-block.piece-preview {
  background: none !important;
}
.game-block:after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -2px;
  left: -2px;
  content: "";
  border: 2px solid transparent;
}
.game-block.t:after {
  border-top-color: #be8949;
}
.game-block.b:after {
  border-bottom-color: #be8949;
}
.game-block.l:after {
  border-left-color: #be8949;
}
.game-block.r:after {
  border-right-color: #be8949;
}
.game-block.t.l:after {
  border-top-left-radius: 2px;
}
.game-block.t.r:after {
  border-top-right-radius: 2px;
}
.game-block.b.r:after {
  border-bottom-right-radius: 2px;
}
.game-block.b.l:after {
  border-bottom-left-radius: 2px;
}

.piece-preview {
  background-color: transparent;
}
.piece-preview:after {
  border-color: transparent !important;
}

.Game p.numbers {
  display: flex;
  justify-content: center;
}
.Game .score p.numbers span {
  color: white;
  display: block;
  margin: 0.1rem;
  background: #aa2223;
  border-radius: 0.4rem;
  line-height: 1.8rem;
  font-size: 1.8rem;
  padding: 0.3rem 0.2rem;
  font-weight: bold;
}
.Game .scores p {
}
.Game .scores {
  background: rgba(96, 124, 225, 0.47);
  border-radius: 0.5rem;
  padding: 1.125rem 0.5rem 1.25rem 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
}
.Game .scores ol {
  padding: 0 0 0 1.5rem;
  margin: 0;
}
.Game .scores ol li {
  font-size: 0.675rem;
  line-height: 1rem;
}
.Game .control-button {
  width: 20%;
  border-radius: 50%;
  background: #7B0708;
  border: 2px solid #FFFFFF;
}
.Game .control-button > div {
  padding-top: 100%;
  height: 0;
  position: relative;
}
.Game .control-button > div > * {
  position: absolute;
}
.Game .control-button:nth-child(1) > div > * {
  position: absolute;
  top: 17%;
  left: 14%;
  width: 56%;
}
.Game .control-button:nth-child(2) > div > * {
  position: absolute;
  top: 8%;
  left: 12%;
  width: 76%;
}
.Game .control-button:nth-child(3) > div > * {
  position: absolute;
  top: -16%;
  left: 22%;
  width: 60%;
}
.Game .control-button:nth-child(4) > div > * {
  position: absolute;
  top: 17%;
  right: 14%;
  width: 56%;
}

.Game .control-button.sound {
  width: 20%;
  border-radius: 50%;
  background: #2D49DF;
  border: 2px solid #FFFFFF;
}
.Game .control-button.sound > div {
  padding-top: 100%;
  height: 0;
  position: relative;
}
.Game .control-button.sound > div > * {
  position: absolute;
  top: 26%;
  left: 22%;
  width: 56%;
}
