.Outro * {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.Outro {
  display: block;
  width: 800px;
  height: 568px;
  margin: 0;
  box-sizing: border-box;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}
.Outro .Div--ios {
  padding: 0;
}

.Outro h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.4rem;
}
.Outro h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.2rem;
}
.Outro p {
  margin: 0 0 0.5rem 0;
  font-size: 0.875rem;
}
.Outro p.numbers {
  display: flex;
  justify-content: center;
}
.Outro p.numbers span {
  color: white;
  display: block;
  margin: 0.2rem;
  background: #aa2223;
  border-radius: 0.4rem;
  line-height: 3rem;
  font-size: 3rem;
  padding: 0.5rem 0.3rem;
  font-weight: bold;
}
