body {
    font-family: "Montserrat", sans-serif;
}
.btn-red, 
.btn-blue {
    outline: none !important;
    background: #aa2223;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    position: relative;
    padding: 0.775rem 0.675rem;
    font-size: .875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    min-width: 14rem;
    cursor: pointer;
}
.btn-red:hover, 
.btn-blue:hover {
    background: #631313;
}
.btn-red:active, 
.btn-blue:active {
    top: 1px;
}
.btn-blue {
    background: #2d49df;
}
.btn-blue:hover {
    background: #1d2e8f;
}
