body {
    font-family: "Montserrat", sans-serif;
}
.btn-red,
.btn-blue {
    outline: none !important;
    background: #aa2223;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    position: relative;
    padding: 0.5rem 0.675rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    min-width: 12rem;
    cursor: pointer;
}
.btn-red:hover,
.btn-blue:hover {
    background: #631313;
}
.btn-red:active,
.btn-blue:active {
    top: 1px;
}
.btn-blue {
    background: #2d49df;
}
.btn-blue:hover {
    background: #1d2e8f;
}
.Portrait {
    display: none;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(./img/portrait-bg.jpg) no-repeat 0 0 / cover;
}
.Portrait svg {
    stroke: #fff;
    fill: #fff;
    width: "5rem";
    max-width: "20vw";
    display: block;
    margin: 0 auto;
}

@media (orientation: landscape) {
    .Intro {
        display: none;
    }
    .Outro {
        display: none;
    }
    .Game {
        display: none;
    }
    .Portrait {
        display: flex;
    }
}
